//Colors
$bg-color: rgb(0,111,186);
$main-color: rgb(76,157,212);
$white: rgb(255, 255, 255);
$half-white: rgb(255, 255, 255, 0.6);

//Shadows
$shadow_xs: 0px 0px 15px rgba(0, 0, 0, 0.05);
$shadow_s: 0px 0px 20px rgba(0, 0, 0, 0.1);
